.container {
  width: 60%;
  border: 1px solid #B7B7B7;
  float:left;
}

section h2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: #09080E;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #B7B7B7;
}

section h2:hover{
  background-color: #B7B7B7;
}

p {
  font-family: 'Titillium Web', sans-serif;
  padding: 15px;
}

section {
  overflow: hidden;
  height: 78px;
  transition: all .5s ease;
}

.home {
  height: 300px;
}

aside {
  background-image: url('https://farm7.staticflickr.com/6025/5968666848_6e7c64e325_o_d.jpg');
  background-position: center;
  width: 39.8%;
  height: 691px;
  float: right;
  text-align:center;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.4)
}
img {
  width: 60%;
  border-radius: 50%;
  margin-top: 35px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: white;
  margin: 0 auto 0 auto;
  text-shadow: 1px 1px 1px black;
}

aside p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 1.1em;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 0;
  padding-top: 0;
}



