.container {
  width: 60%;
  border: 1px solid #00C6D6;
}

section h2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  padding: 20px;
  background-color: #00C6D6;
  color: white;
  margin-top: 0px;
}

p {
  padding: 10px;
}

